.myLiveChat {
  border: 2px solid lightgrey;
  height: 200px;
  overflow: scroll;
  -ms-scroll-limit-y-min: 300px;
  overflow-x: hidden;
}

.myTextArea {
  resize : none;
  height: 50px;
  width: 100%;
}

.meuBotao {
  height: 50px;
}

.myMessage {
  align-content: left;
}

.myChat{
    align-items: center;
}
